.likes {
  display: flex;
  flex-direction: row;
  width: 7rem;
  justify-content: space-between;
  font-size: 0.875rem;

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5em;
    color: var(--clr-text-gray);

    &:hover {
      cursor: pointer;
    }
  }
}

.thumb__num {
  margin-left: 0.6em;
  font-size: 0.875rem;
  font-weight: 900;
}
