/*
  SESSIONS CONTAINER
*/

.session {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 1.5em;
  justify-content: space-between;
  font-size: 0.875rem;

  & a {
    text-decoration: none;
    color: var(--clr-primary);
    letter-spacing: 0.3px;
  }
}

/*
LOGIN + SIGNUP CONTAINER & MEDIA QUERIES
*/

.signup {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  place-content: center;

  &__main {
    display: flex;
    margin-bottom: auto;
  }
}

.login--container,
.signup__left {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.signup__right {
  display: none;
  flex-basis: 100%;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  max-width: min-content;
  margin-left: 5em;

  figcaption {
    font-size: 1rem;
    font-weight: 300;
  }
}

@media only screen and (min-width: 450px) {
  .signup__left {
    flex-grow: 1;
  }
}

@media only screen and (min-width: 601px) {
  .session {
    justify-content: center;
    align-items: center;
    padding: 5em;
  }

  .login--container {
    width: 32em;
    max-height: 36em;
    padding: 3em 3em 6em 3em;
    border: 1px solid #dadce0;
    border-radius: 7px;
  }

  .signup__main {
    padding: 3em 3em 6em 3em;
    border: 1px solid #dadce0;
    border-radius: 7px;
    margin-bottom: 0;
    max-width: 60em;

    .signup__form__password {
      display: flex;
      gap: 1em;
    }
  }
}

@media only screen and (min-width: 901px) {
  .signup__right {
    display: flex;
  }
}

/*
SESSIONS HEADER
*/

.session__header {
  display: flex;
  flex-direction: column;

  &__login {
    align-items: center;
  }

  &__logo__container {
    display: contents;
  }

  &__logo__img {
    width: 5em;
  }

  &__title {
    font-size: 1.5rem;
    padding-top: 0.6em;
  }

  &__subtitle {
    font-size: 1rem;
    padding-top: 1em;
  }
}

// LOGIN PASSWORD BACK BUTTON
.session__header__username {
  margin-top: 1em;
  border: 1px solid #dadce0;
  border-radius: 1em;
  padding: 0.25em 1em;
  display: inline-flex;
  align-items: center;

  .session__header__subtitle {
    font-size: 0.9rem;
    font-weight: 300;
    padding: 0;
  }

  .material-icons {
    font-size: 1.3rem;
    align-self: center;
  }

  &:hover {
    cursor: pointer;
    background: #f9f9f9;
  }
}

/*
  LOGIN FORM
*/

.login__form {
  display: flex;
  flex-direction: column;
  padding-top: 3em;

  &__question {
    margin-top: 6em;
    font-size: 0.875rem;
    color: var(--clr-secondary);
  }

  &__demo {
    align-self: start;
    margin-top: 0.5em;

    &:hover {
      cursor: pointer;
    }
  }

  &__btn {
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
    align-items: baseline;

    &__link--light a {
      font-weight: 200;
    }

    &__item {
      padding: 0.75em 1.75em;
      border-radius: 4px;
      background-color: var(--clr-primary);
      color: white;

      &:hover {
        cursor: pointer;
        background-color: #1569d8;
      }
    }
  }
}

/*
  LOGIN FORM INPUT
*/

.login__form__input {
  position: relative;
  height: 56px;
  width: 100%;

  &__item {
    height: 100%;
    width: 100%;
    padding: 13px 15px;
    outline: none;
    border: 1px solid #dadce0;
    border-radius: 4px;
    font-size: 1rem;
    color: #202124;
  }

  &__label {
    font-size: 1rem;
    font-weight: 100%;
    color: var(--clr-placeholder);
    position: absolute;
    top: 22px;
    left: 18px;
    transition: all 0.3s ease;
    pointer-events: none;
  }
}

/*
SIGNUP FORM
*/

.signup__form {
  display: flex;
  flex-direction: column;

  &__demo {
    align-self: start;
    margin: 2em 0;

    &:hover {
      cursor: pointer;
    }
  }

  &__btn {
    display: flex;
    justify-content: space-between;
    margin-top: 7em;
    align-items: baseline;

    &__item {
      padding: 0.75em 1.75em;
      border-radius: 4px;
      background-color: var(--clr-primary);
      color: white;

      &:hover {
        background-color: #1569d8;
        cursor: pointer;
      }
    }
  }
}

/*
  SIGNUP FORM INPUT
*/

.signup__form__input {
  height: 36px;
  width: 100%;
  position: relative;
  margin-top: 2.5em;

  &__item {
    height: 100%;
    width: 100%;
    padding: 6px 8px;
    outline: none;
    border: 1px solid #dadce0;
    border-radius: 4px;
    font-size: 0.85rem;
    color: #202124;
  }

  &__pw-confirm {
    font-size: 0.75rem;
    color: var(--clr-secondary);
    margin: 0.5em 0 0 0.75em;
    white-space: normal;
  }

  &__label {
    font-size: 0.9rem;
    color: var(--clr-secondary);
    position: absolute;
    top: 11px;
    left: 10px;
    transition: all 0.3s ease;
    pointer-events: none;
  }
}

/*
 SESSION FOOTER
*/

.session__footer {
  display: flex;
  align-items: baseline;
  font-size: 0.75rem;
  flex-shrink: 1;

  &__lang {
    white-space: nowrap;

    &:hover {
      cursor: pointer;
    }
  }

  .material-icons {
    position: relative;
    top: 3px;
    font-size: 1rem;
  }

  &__list {
    display: flex;
    margin-left: auto;
    gap: 1em;

    @media only screen and (min-width: 450px) {
      gap: 2em;
    }
  }

  &__list a {
    color: var(--clr-secondary);
  }
}

@media only screen and (min-width: 601px) {
  .session__footer {
    margin-top: 2em;
    width: 37.3em;

    &--signup {
      width: 100%;
    }
  }
}

/*
  LOGIN FORM INPUT ANIMATION
*/

// label moves to top border on focus
.login__form__input__item:focus + .login__form__input__label {
  top: -6px;
  left: 20px;
  font-size: 0.8rem;
  padding: 0 4px;
  background: white;
  color: var(--clr-primary);
}

.login__form__input__item:focus {
  border: 2px solid var(--clr-primary);
}

// label sticks to top border when text in input
.login__form__input__item:not(:placeholder-shown).login__form__input__item:not(:focus)
  + .login__form__input__label {
  top: -6px;
  left: 20px;
  font-size: 0.8rem;
  padding: 0 4px;
  background: white;
  color: var(--clr-primary);
}

.login__form__input__item:not(:placeholder-shown).login__form__input__item:not(:focus) {
  border: 2px solid var(--clr-primary);
}

/*
  SIGNUP FORM INPUT ANIMATION
*/

// label moves to top border on focus
.signup__form__input__item:focus + .signup__form__input__label {
  top: -6px;
  left: 8px;
  font-size: 0.8rem;
  padding: 0 4px;
  background: white;
  color: var(--clr-primary);
}

// BORDER
.signup__form__input__item:focus {
  border: 2px solid var(--clr-primary);
}

// label sticks to top border when text in input
.signup__form__input__item:not(:placeholder-shown).signup__form__input__item:not(:focus)
  + .signup__form__input__label {
  top: -6px;
  left: 8px;
  font-size: 0.8rem;
  padding: 0 4px;
  background: white;
  color: var(--clr-primary);
}

// BORDER STICKY
.signup__form__input__item:not(:placeholder-shown).signup__form__input__item:not(:focus) {
  border: 2px solid var(--clr-primary);
}

/* 
ERRORS
*/

.session__errors {
  font-size: 0.75rem;
  color: var(--clr-error);
  line-height: 2;
  display: inline-flex;
  align-items: center;

  .material-icons {
    font-size: 1rem;
    margin: 0 2px;
  }
}

@media only screen and (min-width: 601px) {
  .signup__form__password .session__errors {
    margin-top: 2em;
  }
}

@media only screen and (max-width: 601px) {
  .session__errors--pw-match {
    margin-top: 3em;
  }
}

// ERROR BORDER
.signup__form__input__item--error:focus {
  border: 2px solid var(--clr-error);
}

// ERROR BORDER STICKY
.signup__form__input__item--error:not(:placeholder-shown).signup__form__input__item--error:not(:focus) {
  border: 2px solid var(--clr-error);
}

// ERROR LABEL
.signup__form__input__item--error:focus + .signup__form__input__label,
.signup__form__input__item--error:focus + .login__form__input__label {
  color: var(--clr-error);
}

// ERROR LABEL STICKY
.signup__form__input__item--error:not(:placeholder-shown).signup__form__input__item--error:not(:focus)
  + .signup__form__input__label,
.signup__form__input__item--error:not(:placeholder-shown).signup__form__input__item--error:not(:focus)
  + .login__form__input__label {
  color: var(--clr-error);
}
