.session {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 1.5em;
  justify-content: space-between;
  font-size: 0.875rem;

  & a {
    text-decoration: none;
    font-weight: 600;
    color: var(--clr-primary);
  }

  @media only screen and (min-width: 601px) {
    justify-content: center;
    align-items: center;
    padding: 5em;
  }
}

.login {
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 601px) {
    width: 32em;
    padding: 3em 3em 6em 3em;
    border: 1px solid #dadce0;
    border-radius: 7px;
  }
}

.login__header {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__logo {
    width: 5em;
  }

  &__title {
    font-size: 1.5rem;
    padding-top: 0.6em;
  }

  &__subtitle {
    font-size: 1rem;
    padding-top: 1em;
  }
}

.login__form {
  display: flex;
  flex-direction: column;
  padding-top: 3em;

  &__question {
    margin-top: 4em;
    font-size: 0.875rem;
    color: var(--clr-secondary);
  }

  &__demo {
    align-self: start;

    &:hover {
      cursor: pointer;
    }
  }

  .question--no-margin {
    margin-top: 1em;
  }

  &__btn {
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
    align-items: baseline;

    &__link--light a {
      font-weight: 200;
    }

    &__item {
      padding: 0.75em 1.75em;
      border-radius: 4px;
      background-color: var(--clr-primary);
      font-weight: 600;
      color: white;
    }
  }
}

.login__form__input {
  position: relative;
  height: 70px;
  width: 100%;

  &__item {
    height: 100%;
    width: 100%;
    padding: 13px 15px;
    outline: none;
    border: 1px solid #dadce0;
    border-radius: 4px;
    font-size: 1rem;
    color: #202124;

    &:focus {
      border: 2px solid var(--clr-primary);
      color: #000;
    }
  }

  &__label {
    font-size: 1rem;
    font-weight: 100%;
    color: var(--clr-secondary);
    position: absolute;
    top: 28px;
    left: 16px;
    transition: all 0.3s ease;
    pointer-events: none;
  }
}

.login__form__input__item:focus + .login__form__input__label {
  transform: translateY(-260%);
  font-size: 0.8rem;
  padding: 0 4px;
  background: white;
  color: var(--clr-primary);
}

.session__footer {
  display: flex;
  align-items: baseline;
  font-size: 0.75rem;

  &__lang {
    white-space: nowrap;

    &:hover {
      cursor: pointer;
    }
  }

  .material-icons {
    position: relative;
    top: 3px;
    font-size: 1rem;
  }

  &__list {
    display: flex;
    margin-left: auto;
    gap: 1em;

    @media only screen and (min-width: 450px) {
      gap: 2em;
    }
  }

  &__list a {
    color: var(--clr-secondary);
  }

  @media only screen and (min-width: 601px) {
    width: 37.3em;
    margin-top: 2em;
  }
}
