.vshow {
  display: grid;
  grid-template: 60rem / 70vw auto;
  padding: 1.5rem 1.5rem 0 1.5rem;

  &__split {
    &--sideidx {
      grid-column: 2;
      grid-row: 1;
      margin-left: 1.5em;
    }
  }
}

.vdetails {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--clr-separator-gray);

  &__title {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 3em;
  }

  &--split {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0.5em;
  }

  &__viewsdate {
    font-size: 0.875rem;
  }

  &__interface {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__item {
    padding-inline: 1em;
  }
}

.vdesc {
  display: flex;
  flex-direction: row;
  margin-top: 0.5em;
  min-height: 15%;

  &__split {
    &--right {
      width: 100%;
    }
  }

  &__top {
    &--split {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__username {
    font-size: 1rem;
    font-weight: 900;
    line-height: 1.5em;
  }

  &__subcount {
    font-size: 0.815rem;
    color: var(--clr-text-light-gray);
  }

  &__subscribe {
    background: #53c1de;
    align-self: center;
    padding: 0.8em 1.2em;
    font-size: 0.95rem;
    font-weight: 500;
    color: white;
    letter-spacing: 1px;
    border-radius: 4px;

    &:hover {
      cursor: pointer;
    }
  }

  &__expandable {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.25em;
    letter-spacing: 0.5px;
    white-space: pre-wrap;
    word-break: break-word;
    max-width: 77ch;
    margin-top: 1.25em;
    display: flex;
    flex-direction: column;
  }

  &__hide {
    &--hidden {
      display: none;
    }
  }
}
